/* 全局苹果风格 */
body {
    margin: 0;
    padding: 40px 0;
    text-align: center;
    background: #f5f5f7;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", sans-serif;
    color: #1d1d1f;
}

/* 大标题 */
h1 {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 15px;
}

/* 副标题 */
p {
    font-size: 20px;
    color: #555;
    margin-bottom: 25px;
}

/* 图片 Apple 风格 */
img {
    width: 60%;
    max-width: 750px;
    border-radius: 18px;
    margin: 25px auto;
    display: block;

    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.18);
    transition: 0.3s ease;
}

img:hover {
    transform: scale(1.03);
    box-shadow: 0 35px 70px rgba(0, 0, 0, 0.25);
}

/* 返回主页按钮 */
.back-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 25px;
    background: #007aff;
    color: #fff;
    border-radius: 12px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.back-btn:hover {
    background: #005fcc;
}
